.our-services {
    background-color: var(--secondary-color);
    padding: 100px 0 70px;
}
.service-item {
    background-color: hsl(243, 52%, 83%);
    border-radius: 40px;
    padding: 20px;
    height: calc(100% - 30px);
    margin-bottom: 30px;
}
.service-content {
    padding: 20px;
}
.service-content-title {
    display: flex
;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--divider-color);
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.service-image {
    border-radius: 30px;
    overflow: hidden;
}
.image-anime {
    position: relative;
    overflow: hidden;
}
.service-image img {
    border-radius: 30px;
    transition: all 0.5s ease-out;
}
.image-anime:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}                                                                                                                                                               